@import "tailwindcss";

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.6),
      0 0 20px rgba(59, 130, 246, 0.4), 0 0 30px rgba(6, 182, 212, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.8),
      0 0 40px rgba(6, 182, 212, 0.6), 0 0 60px rgba(103, 232, 249, 0.4);
  }
  100% {
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.6),
      0 0 20px rgba(59, 130, 246, 0.4), 0 0 30px rgba(6, 182, 212, 0.3);
  }
}

.animate-glow {
  animation: glowPulse 2.5s ease-in-out infinite;
}


/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, Opera */
}

